.about-docs {
  width: 100%;
  gap: $space-x3;
  &__item {
    @include flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-gray-pale-3;
    & > span {
      line-height: 28px;
      font-weight: 600;
    }
  }
  &__item img {
    padding: $space-x3;
  }
  &__item a {
    text-decoration: none;
  }
}

@media #{$desktop-m} {
  .about-docs {
    gap: $space-x2;
    &__item img {
      padding: 22px;
    }
  }
}

@media #{$mobile} {
  .about-docs {
    @include flex;
    flex-direction: column;
    &__item {
      padding-bottom: $space-x2;
    }
  }
}
