.about {
  display: grid;
  grid-template-areas: 'title title' 'descr docs';
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 64px;
  &__title {
    grid-area: title;
  }
  &__descr {
    grid-area: descr;
  }
  &__docs {
    grid-area: docs;
    @include flex;
  }
  &__docs-support {
    @include flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
    & > div {
      width: calc(50% - 60px);
    }
  }
}

@media #{$desktop-m} {
  .about {
    grid-column-gap: 50px;
  }
}

@media #{$laptop} {
  .about {
    grid-template-areas: 'title' 'descr' 'docs';
    &__docs-support {
      flex-direction: column;
      & > div {
        width: 100%;
      }
    }
  }
}
