.about {
  display: grid;
  grid-template-areas: 'title title' 'descr docs';
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 64px;
  &__title {
    grid-area: title;
    font-weight: 800;
    font-size: 64px;
  }
  &__descr {
    grid-area: descr;
    font-size: 22px;
    line-height: 36px;
  }
  &__docs {
    grid-area: docs;
    @include flex;
  }
  &__docs-support {
    @include flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
    & > div {
      width: calc(50% - 60px);
    }
  }
}
