.btn {
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  font-weight: 600;
  height: 46px;
  @include flex;
  @include noselect;
  &:hover {
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}

.btn-primary {
  padding: 0 $space-x3;
  background-color: $color-sec;
  color: $color-prim;
  &:hover {
    color: $color-prim-dark;
  }
  &:active {
    background-color: $color-gray-pale-3;
  }
  &__icon {
    &:hover {
      background-color: $color-prim-dark;
    }
  }
}

.btn-secondary {
  padding: 0 24px 0 19px;
  background-color: $color-sec;
  color: $color-prim;
  & .icon.icon--active {
    background-color: $color-prim-dark;
  }
  &:hover {
    color: $color-prim-dark;
  }
  &:active {
    background-color: $color-gray-pale-3;
  }
}

.btn-light {
  padding: 0 24px 0 19px;
  background-color: white;
  color: $color-prim;
  & .icon.icon--active {
    background-color: $color-prim-dark;
  }
  &:hover {
    color: $color-prim-dark;
  }
  &:active {
    color: $color-gray-olive;
  }
}

@media #{$desktop-m} {
  .btn {
  }
}
