.coop-card {
  &__img {
    border-radius: $rad-x2;
    width: 100%;
    height: 246px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  &__link {
    line-height: 28px;
    font-weight: 600;
  }
}
