.coop {
  margin-bottom: $space-separator;
  &__title {
    margin-bottom: $space-x3;
  }
  &__cards {
    @include flex;
    align-items: stretch;
    gap: 23px;
  }
  &__card {
    width: 33.3%;
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media #{$laptop} {
  .coop {
    &__cards {
      flex-direction: column;
    }
    &__card {
      width: 100%;
    }
  }
}
