.footer {
  @include flex;
  justify-content: space-between;
  margin: $space-separator 0;
  &__contacts, &__socials, &__addr, &__docs {
    width: calc(25% - $space-x3);
  }
  &__contacts, &__addr {
    @include flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title, & span {
    margin-bottom: 25px;
  }
  &__docs .docs__item {
    margin-bottom: 25px;
  }
  & .link {
    color: $color-prim;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    //margin-bottom: 8px;
  }
  & .icon.link__icon {
    background-color: $color-prim;
  }
  & .icon.icon--active {
    background-color: $color-prim-dark;
  }
  &__contacts {
    & > span {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

@media #{$desktop-m} {
  .footer {
    &__socials {
      @include flex;
    }
    &__link {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

@media #{$laptop} {
  .footer {
    flex-wrap: wrap;
    &__contacts, &__socials, &__addr, &__docs {
      width: calc(50% - 25px);
    }
  }
}

@media #{$mobile} {
  .footer {
    row-gap: $space-x3;
    margin-bottom: 0;
    &__contacts, &__socials, &__addr, &__docs {
      width: 100%;
      align-items: center;
    }
    &__title {
      margin-bottom: $space-x2;
    }
    &__title & span {
      margin-bottom: $space-x2;
    }
    &__addr {
      text-align: center;
    }
    &__docs .docs__item {
      text-align: center;
    }
  }
}
