.head-contacts {
  @include flex;
  gap: 30px;
  &__link {
    @include flex;
  }
  & .icon {
    width: 18px;
    height: 18px;
    background-color: $color-gray-olive;
  }
}

@media #{$mobile} {
  .head-contacts {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    //width: 100%;
    //flex-direction: column;
    //align-items: flex-start;
  }
}
