.link {
  @include flex;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  //height: 46px;
  text-decoration: none;
  color: $color-gray-olive;
  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: $color-gray-olive;
  }
  &:hover {
    //color: $color-prim-dark;
    text-decoration: underline;
  }
  & .icon--active {
    //background-color: $color-prim-dark;
  }
}

@media #{$mobile} {
  .link {
    &__icon {
      margin-right: 4px;
    }
  }
}
