.newsletter {
  @include flex;
  background-color: $color-gray-pale-3;
  border-radius: $rad-x3;
  margin-bottom: $space-separator;
  overflow: hidden;
  position: relative;
  &__form, &__items {
    width: 50%;
  }
  &__form {
    border-right: 1px solid $color-gray-pale-2;
    padding: 0 $space-x3;
  }
  &__items {
    padding-right: $space-x4;
    max-height: 270px;
    overflow-y: scroll;
    padding: $space-x3;
    display: flex;
    flex-direction: column-reverse;
    &::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
    }
    scrollbar-width: none; /* firefox */
  }
}

@media #{$laptop} {
  .newsletter {
    flex-direction: column;
    &__form, &__items {
      width: 100%;
    }
    &__items {
      max-height: 235px;
    }
  }
}

@media #{$mobile} {
  .newsletter {
    padding: 0 $space-x2;
    &__form {
      padding: $space-x2 $space-x2;
    }
  }
}
