.search {
  grid-area: search;
  @include flex;
  justify-content: flex-start;
  border: 1px solid $color-gray-pale-2;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 9px 9px 9px 12px;
  &__btn {
    @include bg('/static/icon/24/Search.svg');
    width: 24px;
    height: 24px;
  }
  input {
    border-width: 0;
    padding: 5px 10px;
    &:focus {
      outline: solid 0 transparent;
    }
  }
}
