@import 'fonts.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'icon.scss';
@import 'btn.scss';

@import 'header.scss';
@import 'nav.scss';
@import 'head-contacts.scss';
@import 'search.scss';
@import 'about.scss';
@import 'about-docs.scss';
@import 'areas.scss';
@import 'activity.scss';
@import 'coop.scss';
@import 'coop-card.scss';
@import 'online-form.scss';
@import 'team.scss';
@import 'team-card.scss';
@import 'carousel.scss';
@import 'partners.scss';
@import 'docs.scss';
@import 'supported-by.scss';

@import 'text-btn.scss';
@import 'link.scss';


body {
  color: $color-gray-olive;
  margin: 0;
  padding: 25px 60px;
  font-family: 'inter';
  font-size: 18px;
}
button {
  font-family: 'inter';
}
input {
  border-width: 0;
  padding: 8px 10px;
  &:focus {
    outline: solid 0 transparent;
  }
}
h2 {
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 32px 0;
}

@media #{$mobile} {
  body {
    padding: 10px;
  }
}
