.supported-by {
  &__title {
    margin-bottom: $space-x3;
  }
  &__items {
    @include flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__item {
    margin-bottom: $space-x4;
    &:last-child {
      margin-bottom: 0;
    }
    //width: 100%;
  }
}

@media #{$mobile} {
  .supported-by {
    &__item {
      max-width: 100%;
      margin-bottom: $space-x3;
    }
  }
}
