.team {
  &__items {
    @include flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
  }
  &__card {
    width: calc(25% - 25px);
  }
}

@media #{$laptop} {
  .team {
    &__card {
      width: calc(50% - 25px);
    }
  }
}

@media #{$mobile} {
  .team {
    &__card {
      width: 100%;
    }
  }
}
