.team {
  margin-bottom: $space-separator;
  &__title {
    margin-bottom: $space-x3;
  }
  &__items {
    @include flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: $space-x3;
  }
  &__card {
    width: calc(25% - $space-x2 - $space-x1);
    max-width: calc(25% - $space-x2 - $space-x1);
    overflow: hidden;
    flex-shrink: 0;
  }
}

@media #{$laptop} {
  .team {
    &__card {
      width: calc(50% - $space-x2);
    }
  }
}

@media #{$mobile} {
  .team {
    &__card {
      min-width: 100%;
    }
  }
}
