.team-card {
  display: grid;
  grid-template-areas: 'main';
  &__bg, &__content {
    grid-area: main;
  }
  &__bg {
    margin-top: 80px;
    height: 380px;
    background-color: $color-gray-pale-3;
    border-radius: $rad-x2;
  }
  &__content {
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: $space-x3;
    padding-top: 0;
  }
  &__img {
    border-radius: $rad-x2;
    margin-bottom: $space-x2;
  }
  &__name {
    margin-bottom: $space-x2;
  }
  &__email {
    margin-bottom: $space-x2;
  }
  &__position {
    color: $color-gray-pale;
  }
  &__contacts {
    @include flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__phone-row {
    @include flex;
  }
  &__phone-mod {
    font-weight: 600;
  }
}

@media #{$mobile} {
  .team-card {
    &__bg {
      height: 320px;
    }
  }
}
