$color-prim: #27ACA1;
$color-prim-dark: #04665E;
$color-sec: #DCF6F4;
$color-gray-pale_: #CFD7DC;
$color-gray-pale: #5D647D;;
$color-gray-pale-2: #CFD7DC;
$color-gray-pale-3: #F6F8FA;
$color-gray-olive: #0C0C3D;

$border-rad-1: 8px;
$border-rad-2: 16px;

$desktop-m: "(max-width: 1600px)";
$laptop: "(max-width: 1200px)";
$mobile: "(max-width: 800px)";

$space-separator: 80px;
$space-x1: 8px;
$space-x2: 16px;
$space-x3: 32px;
$space-x4: 64px;
$space-x5: 128px;

$rad-x1: 8px;
$rad-x2: 16px;
$rad-x3: 32px;
